{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "consistent-return": 1,
        "no-var": 2,
        "eqeqeq": 1,
        "semi": 1,
        "curly": 1,
        "prefer-const": 1,
        "@typescript-eslint/no-explicit-any": "off"
    },
    "env": {
        "broswer": true,
        "node": true
    }
}